:root{
	--font-principal: font-family: 'Roboto', sans-serif;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	background: linear-gradient(45deg, hsla(339, 100%, 55%, 1) 16%, hsla(197, 100%, 64%, 1) 100%);
	background-attachment: fixed;
	font-size: 62.5%;
	height: 100%;
	overflow: scroll;
}

.container__title{
	position: relative;
	width: 80%;
	min-height: 70px;		
	background-color: blue;
	margin: 0 auto;
	margin-top: 60px;
	box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.09);
	-webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.09);
	-moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.09);	
}
.container__title p{
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
	padding: 20px 0 0 0;
	text-align: center;
}

.container___main--information{
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 40px;
}
.container__main--information-items{
	font-family: 'Roboto', sans-serif;
	margin: 6px 0;
}

.container__form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}

.cotainer__form--titleinput{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	margin: 8px 0;
	font-weight: bold;

}
.container__form--input{
	width: 300px;
	height: 30px;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background-color: transparent;
	
	
}
.container__form--list{
	background-color: transparent;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	color:black;
	width: 300px;
	min-width: 250px;
}